<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @order.round %>
</p>

<p>
  <b>Pick:</b>
  <%= @order.pick %>
</p>

<p>
  <b>Teamname:</b>
  <%= @order.teamname %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
